* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #081544;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .search-container {
  margin-left: 440px;
  margin-right: 50px;
  float: left;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 700px;
  border: none;
  border-radius: 5px;
}

.topnav .search-container button {
  float: cen;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: -6px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.header-right {
  float: right;
}

input:focus{
  outline: none;
}