<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
    <a routerLink="/">ЛІТЕРАТОР</a>
    <div class="search-container">
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <input type="text" [formControlName]="'term'" placeholder="Я шукаю">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="header-right">
        <a class="active" *ngIf="isUserLoggedIn()" routerLink="/cart">Кошик</a>
        <a *ngIf="!isUserLoggedIn()" routerLink="/login">Увійти</a>
        <a *ngIf="isUserLoggedIn()" routerLink="/account">Профіль</a>
        <a *ngIf="isUserLoggedIn()" (click)="logout()">Вийти</a>
    </div>
  </div>
