.sidenav {
    padding: 5px;
    height: 450px;
    width: 550px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid #081544;
    border-right: none;
}

.sidenav a {
    padding: 6px;
    text-decoration: none;
    font-size: 18px;
    color: #081544;
    display: block;
    border-left: 2px solid #081544;
}

.sidenav a:hover {
    color: #f1f1f1;
}

h1 {
    color: #081544;
    font-size: 24px;
    text-align: center;
}

.banner {
    margin-left: 150px;
    height: 340px;
    background-color: white;
    align-content: center;
}

.banner img {
    margin-left: 450px;
    height: 340px;
}

.title {
    text-align: center;
    padding-bottom: 10px;
    
}

#mySidebar {
    width: 300px;
    border-left: 1px solid #081544;
    height: 340px;
    overflow: hidden;
}

.body {
    border-top: 1px solid #081544;
}



.Items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
}

.Item {
    margin: 0 20px;
    padding-top: 20px;
    width: 30%;
    transition: box-shadow, 0.4s, ease-in-out;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

.Item {
    margin: 0 20px;
    padding-top: 20px;
    width: 30%;
    transition: box-shadow, 0.4s, ease-in-out;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border: none;
    outline: 0;
    padding: 5px 50px;
    margin: 5px;
    color: #081544;
    background-color: transparent;
    border-bottom: 1px solid;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}

.card button:hover {
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: #081544;
    color: white;
    opacity: 0.7;
}

.card a {
    text-decoration: none;
}

.text {
    text-decoration: none !important;
}

.category {
    margin-left: 5px;
    padding: 5px;
    border-left: 2px solid #081544;
}

.card button:active{
    color: #08154f;
    background: white;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}