<div class="login-page">
    <div class="form">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <h1>ЛІТЕРАТОР</h1>
            <input type="text" placeholder="Пошта" [formControlName]="'email'" />
            <input type="password" placeholder="Пароль" [formControlName]="'password'" />
            <input class="button" type="submit" value="Увійти" />
            <a routerLink="/register" class="message">Немає акаунта?</a>
        </form>
    </div>
</div>